<template>
    <div>
        <navbar>
            <template v-slot:admin>
                <slot></slot>
            </template>
        </navbar>
        <!--<keep-alive>-->
            <!--<router-view></router-view>-->
        <!--</keep-alive>-->
    </div>
</template>

<script>
    export default {
        name: "App.vue",
        data() {
            return {
            };
        },
    }
</script>

<style scoped>

</style>
