<template>
    <div class="container">
        <div class="row">
            <div v-for="(room, index) in rooms" :key="index" class="col-4 pt-5">
                <div class="card ml-5" style="width: 18rem;">
                    <!--<img src="" class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <img style="width: 15rem; height: 10rem" :src="room.room_pic" alt="room_pic">
                        <h5 class="card-title pt-2">{{ room.name }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span v-html="findRoomStatus(room)"></span>
                        </li>
                    </ul>
                    <div class="card-body">
                        <!--Reservation Modal-->
                        <!--*****************-->
                        <reservation-modal :room="room" @reservationAdded="reservationAdded"></reservation-modal>
                        <!--***-->
                        <!--End-->
                        <!--Show reservations modal-->
                        <!--***********************-->
                        <a class="btn" :href="'/room/reservations/show/' + room.id"><i
                            class="material-icons">
                            calendar_today
                        </i>Show
                        </a>
                        <!--<show-reservations-modal :room="room"></show-reservations-modal>-->
                        <!--***********************-->
                        <!--***********************-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import moment from 'moment';

    export default {
        name: "Home",
        data() {
            return {
                rooms: [],
                sortedRooms: [],
                // roomStatusStyle: {
                //     color: 'green'
                // },
                // roomStatus: 'Свободно',
            }
        },
        mounted() {
            this.getRooms();
        },
        methods: {
            getRooms() {
                axios
                    .get("/api/rooms")
                    .then(res => {
                        this.rooms = res.data.rooms;
                        this.sortedRooms = res.data.sortedRooms;
                    })
                    .catch(err => console.log(err));
            },
            reservationAdded() {
                this.getRooms();
            },
            // sort(reservations) {
            //     for (let i = 0; i < reservations.length;) {
            //         // console.log(reservations);
            //         if (reservations.length == 1) {
            //             // console.log(reservations);
            //             break;
            //         } else if (moment(reservations[i].beginning_date).format('YYYY-mm-d HH:mm:ss') < moment(reservations[i+1].beginning_date).format('YYYY-mm-d HH:mm:ss')) {
            //             reservations.splice(i+1, 1);
            //             // console.log(reservations.length)
            //         } else if (moment(reservations[i].beginning_date).format('YYYY-mm-d HH:mm:ss') > moment(reservations[i+1].beginning_date).format('YYYY-mm-d HH:mm:ss')) {
            //             reservations.splice(i, 1);
            //             // console.log(reservations.length)
            //         }
            //     }
            //     return reservations;
            // },
            findRoomStatus(room) {
                if (room.reservations.length !== 0) {
                    for (let reservation of this.sortedRooms) {
                        if (room.id == reservation.room_id) {
                            let now = moment().format('YYYY-MM-D HH:mm:ss').toString();
                            if (moment(reservation.beginning_date).diff(now, 'minutes') < 60 && moment(reservation.beginning_date).diff(now, 'seconds') >= 0) {
                                if (moment(reservation.beginning_date).diff(now, 'seconds') < 60) {
                                    return '<span style="color: orange">' +
                                        'Будет занято через '
                                        + moment(reservation.beginning_date).diff(now, 'seconds')
                                        + ' секунд до '
                                        + moment(reservation.ending_date).format('MMMM Do YYYY HH:mm') + '</span>';
                                }
                                return '<span style="color: orange">' +
                                    'Будет занято через '
                                    + moment(reservation.beginning_date).diff(now, 'minutes')
                                    + ' минут до '
                                    + moment(reservation.ending_date).format('MMMM Do YYYY HH:mm') + '</span>';

                            } else if (moment(reservation.beginning_date).diff(now, 'minutes') > 60) {

                                return '<span style="color: green">' +
                                    'Свободно до '
                                    + moment(reservation.beginning_date).format('MMMM Do YYYY HH:mm')
                                    + '</span>';

                            } else if ((moment(reservation.beginning_date).diff(now, 'seconds') < 0) && (moment(reservation.ending_date).diff(now, 'seconds') > 0)) {

                                return '<span style="color: red">' +
                                    'Занято до '
                                    + moment(reservation.ending_date).format('MMMM Do YYYY HH:mm')
                                    + '</span>';
                            }
                        }
                    }
                } else {
                    return '<span style="color: green">Свободно</span>';
                }
            },
        }
    }
</script>

<style scoped>

</style>
