<template>
    <nav class="navbar navbar bg-light py-3 px-0">
        <div class="container">
            <div class="col-8">
                <a class="brand-width mt-1" href="/">
                    <button class="btn"><img rel="icon" sizes="32x32" src="/images/favicon-gray/favicon-32x32.png">Room Alif</button>
                </a>
            </div>
            <div class="col-4">
                <slot class="mr-auto" name="admin"></slot>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>
