<template>
    <div class="col-10 mx-auto">
        <div v-if="loading" class="text-center text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div v-else class="card" style="widows: 500;">
            <div class="card-header">
                Комнаты
            </div>
            <div class="card-body p-3">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Фотография</th>
                        <th>Имя</th>
                        <th><i class="material-icons">
                            settings
                        </i></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(room, index) in rooms">
                        <td><img :src="room.room_pic" alt="room_pic" style="width: 60px; height: 40px"></td>
                        <td>{{ room.name }}</td>
                        <td>

                            <button class="btn"  data-toggle="modal" :data-target="'#editRoom-' + index"
                                    :data-index="index" @click="editRoomModal(room, index)">
                                <i class="material-icons" style="color: #2176bd">
                                    edit
                                </i>
                            </button>

                            <!--Edit modal-->
                            <!--***********************************-->
                            <!--ends-->
                            <!--***************************************************************-->
                            <button type="button" class="btn btn-sm" @click="deleteRoom(room.id, index)"><i
                                class="material-icons" style="color: red">
                                delete_outline
                            </i></button>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#addRoom">Add room
                </button>
                <div class="modal modal-danger fade" id="addRoom" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 style="margin-left: 9rem;">Добавить комнату</h5>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-5">
                                            Имя комнаты
                                        </div>
                                        <div class="col-7">
                                            <input type="text" class="form-control text-center mb-2"
                                                   placeholder="Имя комнаты" v-model="roomName">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            Загрузить фото
                                        </div>
                                        <div class="custom-file col-7">
                                            <input type="file" class="custom-file-input" @change="onFileChange"
                                                   id="inputGroupFile01"
                                                   aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Выберите
                                                файл</label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="category_id" value="">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-dismiss="modal">No, Cancel</button>
                                <button class="btn btn-danger btn-ok" @click="addRoom">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <update-room-modal :room="room" :index="indexRoom" @updateTheRoom="updateTheRoom"></update-room-modal>

    </div>
</template>

<script>
    import {EventBus} from "../app.js";
    import Swal from 'sweetalert2';

    export default {
        name: "Settings",
        data() {
            return {
                rooms: [],
                roomName: '',
                roomPic: '',
                loading: true,
                room: null,
                indexRoom: null,
            }
        },
        mounted() {
            this.getRooms();

        },
        methods: {
            updateTheRoom() {
                this.getRooms();
            },
            getRooms() {
                axios
                    .get("/api/rooms")
                    .then(res => {
                        console.log(res.data);
                        this.rooms = res.data.rooms;
                        this.loading = false;
                    })
                    .catch(err => console.log(err))
            },
            editRoomModal(room, index) {
                this.room = room;
                this.indexRoom = index;
            },
            addRoom() {
                if (this.roomName !== '') {
                    axios
                        .post('api/rooms', {
                            roomName: this.roomName,
                            roomPic: this.roomPic
                        })
                        .then(res => {
                            // console.log(res.data.room);
                            this.rooms.push(res.data.room);
                            $('#addRoom').modal('hide');
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            Toast.fire({
                                type: 'success',
                                title: 'Комната добавлена'
                            });
                            this.roomName = '';
                            this.roomPic = '';
                        })
                        .catch(err => {
                            console.log(err);
                        })
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Упс...',
                        text: 'Что то пошло не так',
                    });
                }
            },
             deleteRoom(id, index) {
                // console.log(this.rooms[index].name);
                //
                // console.log(this.rooms[index].name = '');
                // console.log(this.rooms[index].name);
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger mr-2'
                    },
                    buttonsStyling: false,
                });

                 swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        axios({
                            method: 'DELETE',
                            url: 'api/rooms/' + id,
                        })
                            .then(() => {
                                // let room = _.find(this.rooms, id);
                                // this.rooms.splice(index, 1);
                                this.getRooms();

                            });
                        swalWithBootstrapButtons.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }
                    // else if (
                    //     // Read more about handling dismissals
                    //     result.dismiss === Swal.DismissReason.cancel
                    // ) {
                    //     swalWithBootstrapButtons.fire(
                    //         'Cancelled',
                    //         'Your imaginary file is safe :)',
                    //         'error'
                    //     )
                    // }
                })
            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.roomPic = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style scoped>
    .file-field.medium .file-path-wrapper {
        height: 3rem;
    }

    .file-field.medium .file-path-wrapper .file-path {
        height: 2.8rem;
    }

    .file-field.big-2 .file-path-wrapper {
        height: 3.7rem;
    }

    .file-field.big-2 .file-path-wrapper .file-path {
        height: 3.5rem;
    }
</style>
