<template>
    <div class="container">
        <div v-if="loading" class="text-center text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div v-else class="card">
            <div class="card-header">
                <img :src="roomI.room_pic" alt="room_pic" style="width: 60px; height: 40px"> {{roomI.name}}
            </div>
            <div class="card-body p-3">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Инфо</th>
                        <th>Настройки</th>
                        <th>Информация резервации</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr v-for="(reservation, i) in roomI.reservations" :key="i" v-if="isExpired(reservation)">
                        <td> Комната полная от {{ reservation.beginning_date | moment }} до {{reservation.ending_date |
                            moment
                            }}
                        </td>
                        <td>
                            <button class="btn" data-toggle="modal" :href="'#editReservation-' + reservation.id"
                                    data-focus-on="input:first"
                                    :data-index="reservation.id" @click="updateReservation(reservation)">
                                <i class="material-icons" style="color: #2176bd">
                                    edit
                                </i>
                            </button>
                            <button type="button" class="btn btn-sm"
                                    @click="deleteReservation(reservation.id, roomI.id)">
                                <i class="material-icons" style="color: red">
                                    delete_outline
                                </i>
                            </button>
                        </td>
                        <td>
                            <show-reservation-info-modal :reservation="reservation"></show-reservation-info-modal>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <update-reservation-modal :reservation="reservation"
                                  :room="roomI" @updateRoom="updateRoom"></update-reservation-modal>
    </div>

</template>

<script>
    import moment from 'moment';
    import Swal from 'sweetalert2';

    export default {
        name: "ShowReservationsModal",
        props: ['room_id'],
        data() {
            return {
                roomI: [],
                reservation: [],
                loading: true,
            }
        },
        mounted() {
            this.setRoom(this.room_id);
        },
        methods: {
            isExpired(reservation) {
                let now = moment().format('YYYY-MM-D HH:mm:ss');
                let end_date = moment(reservation.ending_date).format('YYYY-MM-D HH:mm:ss');
                let isExpired;
                (end_date < now) ? isExpired = false : isExpired = true;
                return isExpired;
            },
            async setRoom(id) {
                await axios
                    .get('/api/room/reservations/show/' + id)
                    .then(res => {
                        this.roomI = res.data.room;
                        this.loading = false;
                    })
                    .catch(err => console.log(err));
            },
            updateReservation(reservation) {
                this.reservation = reservation;
            },
            updateRoom(id) {
                axios
                    .get('/api/room/reservations/show/' + id)
                    .then(res => {
                        this.setRoom(id)
                    })
                    .catch(err => console.log(err))
            },


            deleteReservation(id, i) {
                // console.log(id);
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger mr-2'
                    },
                    buttonsStyling: false,
                });

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        axios({
                            method: 'DELETE',
                            url: '/api/reservations/' + id,
                        })
                            .then(() => {
                                console.log('null');
                                this.updateRoom(i);
                                // this.roomI.reservations.splice(i, 1);
                            });
                        swalWithBootstrapButtons.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }
                })
            }
        },
        filters: {
            moment(date) {
                return moment(date).format('MMMM Do YYYY, HH:mm');
            }
        }

    }
</script>

<style scoped>

</style>
