<template>
    <span>
        <button class="btn" data-toggle="modal" :data-target="'#room-' + room.id"><i class="material-icons">
            meeting_room
        </i>Reserve
        </button>
        <div class="modal modal-danger fade" :id="'room-' + room.id" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="margin-left: 3rem;">Добавить резервацию для {{ room.name }}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-5">
                                Кто зарезирвировал комнату
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control text-center mb-2"
                                       placeholder="Введите здесь..." v-model="info.who_reserved_the_room">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                               Описание
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control text-center mb-2"
                                       placeholder="Введите здесь..." v-model="info.description">
                            </div>
                        </div>
                        <input type="hidden" name="room_id" value="">
                         <div class="row">
                            <div class="col-5">
                                Начинающая Дата
                            </div>
                            <div class="col-7">
                                <VueCtkDateTimePicker :id="room.id + 'beg_date'" v-model="info.beg_date"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Заканчивающая Дата
                            </div>
                            <div class="col-7">
                                <VueCtkDateTimePicker :id="room.id + 'end_date'" v-model="info.end_date"/>
                            </div>
                        </div>

                        <!--<h5 style="color: red" v-if="incorrectData">{{incorrectDataText}}</h5>-->
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal">No, Cancel
                        </button>
                        <button class="btn btn-danger btn-ok" @click="addReservation(room.id)"
                                :data-dismiss="modal">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </span>
</template>

<script>
    import Swal from 'sweetalert2';

    export default {
        name: "ReservationModal",
        props: ['room'],
        data() {
            return {
                info: {
                    beg_date: '',
                    end_date: '',
                    who_reserved_the_room: '',
                    description: '',
                },
                modal: '',
                incorrectData: false,
                incorrectDataText: 'Something went wrong',
            }
        },
        methods: {
            addReservation(id) {
                if (this.info.who_reserved_the_room == '' && this.info.description == '') {
                    this.modal = '';
                    Swal.fire({
                        type: 'error',
                        title: 'Упс...',
                        text: 'Поля должны быть заполнены!',
                    });
                    // this.incorrectData = true;
                    // this.incorrectDataText = 'Поля должны быть заполнены!';
                    return 0;
                }
                let beg_date = moment.utc(this.info.beg_date);
                console.log(this.info.beg_date + '     initial');
                console.log(beg_date + '     after');
                let end_date = moment.utc(this.info.end_date);

                if (beg_date > end_date) {
                    this.modal = '';
                    Swal.fire({
                        type: 'error',
                        title: 'Упс...',
                        text: 'Начинающая дата меньше чем заканчивающая',
                    });
                    // this.incorrectData = true;
                    // this.incorrectDataText = 'Ending date is less than beginning date';
                } else {
                    axios
                        .post('api/reservations', {
                            room_id: id,
                            who_reserved_the_room: this.info.who_reserved_the_room,
                            description: this.info.description,
                            beginning_date: beg_date,
                            ending_date: end_date,
                        })
                        .then(res => {
                            $('#room-' + this.room.id).modal('hide');
                            this.$emit('reservationAdded');

                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            Toast.fire({
                                type: 'success',
                                title: 'Резервация добавлена'
                            });
                            // window.location.assign('/');
                            this.incorrectData = false;
                            this.info.beg_date = '';
                            this.info.end_date = '';
                            this.info.who_reserved_the_room = '';
                            this.info.description = '';
                        })
                        .catch(err => {
                            console.log(err.response.data.message);
                            this.modal = '';
                            Swal.fire({
                                type: 'error',
                                title: 'Упс...',
                                text: err.response.data.message,
                            });
                            // this.incorrectData = true;
                            // this.incorrectDataText = err.response.data.message;
                        })
                }
            },
        }
    }
</script>

<style scoped>

</style>
