<template>
    <span>
        <button class="btn btn-sm btn-outline-warning" data-toggle="modal"
                :data-target="'#showReservation-' + reservation.id">
            Подробнее
        </button>
                <div class="modal fade" :id="'showReservation-' + reservation.id" tabindex="-1"
                     role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 style="margin-left: 6rem;">Информация резервации</h5>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li><span>Кто зарезирвировал: </span>{{reservation.who_reserved_the_room}}</li>
                                    <li><span>Описание: </span>{{reservation.description}}</li>
                                    <li><span>Начинающая дата: </span>{{reservation.beginning_date}}</li>
                                    <li><span>Заканчивающая дата: </span>{{reservation.ending_date}}</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                </div>
          </div>
    </span>
</template>

<script>
    export default {
        name: "ShowReservationInfoModal",
        props: ['reservation'],
    }
</script>

<style scoped>

</style>
