<template>
    <span>
        <div class="modal modal-danger fade" :id="'editRoom-' + index" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="margin-left: 9rem;">Обновить комнату</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-5">
                                Имя комнаты
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control text-center mb-2"
                                       placeholder="Room Name"
                                       v-model="updatedRoomName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Загрузить фото
                            </div>
                            <div class="custom-file col-7">
                                <input type="file" class="custom-file-input" id="inputGroupFile02"
                                       aria-describedby="inputGroupFileAddon02"
                                       :name="updatedRoomPic"
                                       @change="onFileChange">
                                <label class="custom-file-label" for="inputGroupFile02">Выберите файл</label>
                            </div>
                        </div>
                        <input type="hidden" name="room_id" :id="index" value="">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal">No, Cancel</button>
                        <button class="btn btn-danger btn-ok" @click.prevent="updateRoom(room.id, index)">Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </span>
</template>

<script>
    import Swal from 'sweetalert2';

    export default {
        name: "UpdateRoomModal",
        props: {
            room: null,
            index: null,
        },
        data() {
            return {
                updatedRoomName: '',
                updatedRoomPic: '',
                modal3: '',
                incorrectInfo: false,
                incorrectInfoText: '',
            }
        },
        watch: {
            room() {
                this.setLocalNameForRoom();
            }
        },
        mounted(){
            // this.updatedRoomPic = this.room.room_pic;
        },
        methods: {
            setLocalNameForRoom() {
                if (this.room)
                    this.updatedRoomName = this.room.name;
            },
            updateRoom(id) {
                axios
                    .put('api/rooms/' + id, {
                        name: this.updatedRoomName,
                        room_pic: this.updatedRoomPic
                    }).then(res => {
                    $('#editRoom-' + this.index).modal('hide');

                    // this.modal3 = 'modal';
                    this.showModal = false;

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    });

                    console.log(res.data);
                    this.$emit('updateTheRoom', res.data.room);

                    Toast.fire({
                        type: 'success',
                        title: 'Комната обновлена'
                    });
                    // this.room[index] = res.data.updatedRoom;
                    // EventBus.$emit(
                    //     'roomUpdated',
                    //     this.rooms
                    // );
                    // this.updatedRoomName = ''
                }).catch(err => {
                    // this.modal3 = '';

                    Swal.fire({
                        type: 'error',
                        title: 'Упс...',
                        text: 'Что то пошло не так',
                    });
                    // this.incorrectInfo = true;
                    // this.incorrectInfoText = err.response.data.message;
                    console.log(err)
                })
            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.updatedRoomPic = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style scoped>

</style>
