<template>
    <span>
        <div class="modal modal-danger fade" :id="'editReservation-' + reservation.id" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-center" style="margin-left: 2rem">Обновить резервацию для {{ room.name }}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-5">
                                Кто зарезирвировал комнату
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control text-center mb-2"
                                       placeholder="Type here..." v-model="info.who_reserved_the_room">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Описание
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control text-center mb-2"
                                       placeholder="Type here..." v-model="info.description">
                            </div>
                        </div>
                        <input type="hidden" name="reservation_id" value="">
                        <div class="row">
                            <div class="col-5">
                                Начинающая Дата
                            </div>
                            <div class="col-7">
                                <VueCtkDateTimePicker :id="reservation.id + 'beg_date'" v-model="info.beg_date"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Заканчивающая Дата
                            </div>
                            <div class="col-7">
                                <VueCtkDateTimePicker :id="reservation.id + 'end_date'" v-model="info.end_date"/>
                            </div>
                        </div>
                        <h5 style="color: red" v-if="incorrectInput">{{incorrectInputText}}</h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal">Нет
                        </button>
                        <button class="btn btn-danger btn-ok" @click="updateReservation(reservation.id)"
                                >
                            Обновить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </span>
</template>

<script>
    import Swal from 'sweetalert2';

    export default {
        name: "UpdateReservationModel",
        props: ['reservation', 'room'],
        data() {
            return {
                info: {
                    beg_date: '',
                    end_date: '',
                    who_reserved_the_room: '',
                    description: '',
                },
                modal2: '',
                incorrectInput: false,
                incorrectInputText: '',
            }
        },
        mounted() {
            this.setLocalNameForReservation()
        },
        watch: {
            reservation() {
                this.setLocalNameForReservation();
            }
        },
        methods: {
            setLocalNameForReservation() {
                if (this.reservation) {
                    this.info.beg_date = this.reservation.beginning_date;
                    this.info.end_date = this.reservation.ending_date;
                    this.info.description = this.reservation.description;
                    this.info.who_reserved_the_room = this.reservation.who_reserved_the_room;

                }
            },
            updateReservation(id) {
                console.log('id   ' +id);


                let beg_date = moment.utc(this.info.beg_date);
                let end_date = moment.utc(this.info.end_date);
                if (beg_date > end_date) {
                    this.modal2 = '';
                    this.incorrectInput = true;
                    this.incorrectInputText = 'Ending date is less than beginning date';
                } else {
                    axios
                        .put('/api/reservations/' + id, {
                            room_id: this.room.id,
                            who_reserved_the_room: this.info.who_reserved_the_room,
                            description: this.info.description,
                            beginning_date: beg_date,
                            ending_date: end_date,
                        })
                        .then(res => {
                            this.$emit('updateRoom', this.room.id);
                            // this.modal2 = 'modal';
                            $('#editReservation-' + this.reservation.id).modal('hide');

                            // console.log(res);
                            // EventBus.$emit('reservationAdded', this.info);
                            this.incorrectInput = false;
                            // this.info.beg_date = '';
                            // this.info.end_date = '';
                            // this.info.who_reserved_the_room = '';
                            // this.info.description = '';
                        })
                        .catch(err => {
                            console.log(err.response.data.message);
                            this.modal2 = '';
                            Swal.fire({
                                type: 'error',
                                title: 'Упс...',
                                text: err.response.data.message,
                            });
                            // this.incorrectInput = true;
                            // this.incorrectInputText = err.response.data.message;
                        })
                }
            },
        }
    }
</script>

<style scoped>

</style>
